
SECRET_KEY=your_django_secret_key_here




DATABASE_URL=


DEBUG=false


ALLOWED_HOSTS=localhost,127.0.0.1


CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:3000


GEMINI_API_KEY_1=your_gemini_api_key_1
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=


DEEPSEEK_ENDPOINT=https://api.deepseek.com/v1
DEEPSEEK_API_KEY_1=your_deepseek_api_key_1
DEEPSEEK_API_KEY_2=
DEEPSEEK_API_KEY_3=
DEEPSEEK_API_KEY_4=
DEEPSEEK_API_KEY_5=

KIRAA_API_KEY_1=kira_your_kira_api_key_1
KIRAA_API_KEY_2=
KIRAA_API_KEY_3=
KIRAA_API_KEY_4=
KIRAA_API_KEY_5=

GROQ_API_KEY_1=your_groq_api_key_1
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
GROQ_API_KEY_5=


QDRANT_URL=https://your-cluster.qdrant.io:6333
QDRANT_API_KEY=your_qdrant_api_key

FRONTEND_URL=http://localhost:5173


ESEWA_MODE=sandbox
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q

ESEWA_FORM_URL=
ESEWA_STATUS_URL=


KHALTI_MODE=sandbox
KHALTI_PUBLIC_KEY=
KHALTI_SECRET_KEY=

KHALTI_BASE_URL=


STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=


VITE_API_URL=http://localhost:8000
